# Imports

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
plt.style.use('ggplot')

In [23]:
df = pd.read_csv('data/Basic_Stats.csv')

In [39]:
df.head(3)
df.dtypes

Age                     float64
Birth Place              object
Birthday                 object
College                  object
Current Status           object
Current Team             object
Experience               object
Height (inches)         float64
High School              object
High School Location     object
Name                     object
Number                  float64
Player Id                object
Position                 object
Weight (lbs)            float64
Years Played             object
dtype: object

# Cleaning Data

In [35]:
#Remove unused columns
df.drop(columns=['High School','High School Location'])
#Change '/' for '-' in 'Birthday' column
df['Birthday'].apply(lambda x: x.replace('/','-'))

0         5-23-1921
1        12-21-1930
2         9-11-1960
3         9-30-1986
4         3-31-1992
5         9-11-1892
6         9-16-1920
7         1-31-1995
9         2-23-1919
10         3-8-1945
11        2-10-1961
12        12-4-1983
13       11-22-1989
14        12-8-1943
15         9-1-1942
16        12-1-1950
17        3-11-1992
18        6-14-1963
19        1-15-1967
20       10-18-1922
21        2-15-1990
22         1-7-1962
23        6-29-1977
24        5-16-1960
25        5-22-1918
26         2-9-1896
27         9-6-1978
28        9-12-1988
29         3-3-1983
30        9-14-1954
            ...
17142     4-22-1947
17143     10-4-1968
17144     6-14-1962
17145     12-3-1985
17146      9-5-1988
17147    10-26-1942
17148     6-17-1947
17149     9-26-1924
17150      4-2-1981
17151     2-25-1990
17152    12-15-1952
17153    12-31-1898
17154      4-9-1947
17155     6-24-1987
17156     1-23-1991
17157     1-26-1989
17158     7-16-1936
17159     5-25-1971
17160     8-25-1988
17161     12-5-1932
17162     8-25-1983
17163     8-31-1891
17164     7-10-1945
17165     12-2-1893
17166      7-9-1936
17167     2-15-1944
17168     8-19-1984
17169      5-4-1974
17170     3-30-1921
17171    10-21-1962
Name: Birthday, Length: 16835, dtype: object