# Imports

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import math
from matplotlib import pyplot as plt
plt.style.use('ggplot')

In [2]:
df = pd.read_csv('data/Basic_Stats.csv')

In [3]:
df.head(3)

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Player Id,Position,Weight (lbs),Years Played
0,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Evans, Fred",NaN,fredevans/2513736,NaN,185.0,1946 - 1948
1,NaN,"Dayton , OH",12/21/1930,Dayton,Retired,NaN,1 Season,70.0,NaN,NaN,"Raiff, Jim",NaN,jimraiff/2523700,NaN,235.0,1954 - 1954
2,56.0,"Temple , TX",9/11/1960,Louisiana Tech,Retired,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17172 entries, 0 to 17171
Data columns (total 16 columns):
Age                     13504 non-null float64
Birth Place             14794 non-null object
Birthday                16835 non-null object
College                 17133 non-null object
Current Status          17172 non-null object
Current Team            3096 non-null object
Experience              17133 non-null object
Height (inches)         17026 non-null float64
High School             2514 non-null object
High School Location    2510 non-null object
Name                    17172 non-null object
Number                  1708 non-null float64
Player Id               17172 non-null object
Position                3096 non-null object
Weight (lbs)            17121 non-null float64
Years Played            14076 non-null object
dtypes: float64(4), object(12)
memory usage: 2.1+ MB

# Cleaning Data

In [5]:
#Remove unused columns
df.drop(columns=['High School','High School Location'],inplace=True)
#Remove players who doesnt has 'Current Status'
df.dropna(subset=['Current Status'],inplace=True)
#Remove players without 'Name'
df.dropna(subset=['Name'],inplace=True)

In [6]:
#Convert Birthday only to year and fill NaN
df['Birthday'] = df['Birthday'].apply(lambda x: str(x))
df['Birthday'] = df['Birthday'].apply(lambda x: x.split('/')[-1])
df['Birthday'] = df['Birthday'].apply(lambda x: x.replace('nan','2018'))
df['Birthday'] = df['Birthday'].apply(lambda x: int(x))

In [13]:
#Calculate Age
df['Age'] = 2018 - df['Birthday']

# Conversions

In [22]:
#Convert height to m and cm
df['Height'] = df["Height (inches)"].apply(lambda x: float("{0:.2f}".format(x*0.0254)) if not pd.isna(x) else x)
df.drop(columns=["Height (inches)"],inplace=True)