# Imports

In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
drivers = pd.read_csv('./data/drivers.csv')
driverStandings = pd.read_csv('./data/driverStandings.csv')

In [3]:
drivers.head(5)

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,10/05/1977,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6.0,ROS,Nico,Rosberg,27/06/1985,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,29/07/1981,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,19/10/1981,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [4]:
driverStandings.head(5)

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [5]:
drivers.info()
print('-------------------------------------------')
driverStandings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 9 columns):
driverId       842 non-null int64
driverRef      842 non-null object
number         38 non-null float64
code           85 non-null object
forename       842 non-null object
surname        842 non-null object
dob            841 non-null object
nationality    842 non-null object
url            841 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 59.3+ KB
-------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31726 entries, 0 to 31725
Data columns (total 7 columns):
driverStandingsId    31726 non-null int64
raceId               31726 non-null int64
driverId             31726 non-null int64
points               31726 non-null float64
position             31726 non-null int64
positionText         31726 non-null object
wins                 31726 non-null int64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.7+ MB

# Data Cleaning and Manipulation

In [6]:
#Remove 'url','number' field
drivers.drop(columns=['url','number'],inplace=True)

In [7]:
#Join 'forename' and 'surname' in a new column 'name'
drivers['name'] = drivers['forename'] +' '+ drivers['surname']

In [11]:
#Create column 'age'
drivers['dob'] = drivers['dob'].apply(lambda x: str(x))
drivers['age'] = drivers['dob'].apply(lambda x: 2018 - int(x.split('/')[-1]) if not x=='nan' else x)