# Imports

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import math
from matplotlib import pyplot as plt
plt.style.use('ggplot')

In [2]:
df = pd.read_csv('data/Basic_Stats.csv')

In [3]:
df.head(3)

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Player Id,Position,Weight (lbs),Years Played
0,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Evans, Fred",NaN,fredevans/2513736,NaN,185.0,1946 - 1948
1,NaN,"Dayton , OH",12/21/1930,Dayton,Retired,NaN,1 Season,70.0,NaN,NaN,"Raiff, Jim",NaN,jimraiff/2523700,NaN,235.0,1954 - 1954
2,56.0,"Temple , TX",9/11/1960,Louisiana Tech,Retired,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17172 entries, 0 to 17171
Data columns (total 16 columns):
Age                     13504 non-null float64
Birth Place             14794 non-null object
Birthday                16835 non-null object
College                 17133 non-null object
Current Status          17172 non-null object
Current Team            3096 non-null object
Experience              17133 non-null object
Height (inches)         17026 non-null float64
High School             2514 non-null object
High School Location    2510 non-null object
Name                    17172 non-null object
Number                  1708 non-null float64
Player Id               17172 non-null object
Position                3096 non-null object
Weight (lbs)            17121 non-null float64
Years Played            14076 non-null object
dtypes: float64(4), object(12)
memory usage: 2.1+ MB

# Cleaning Data

In [5]:
#Remove unused columns
df.drop(columns=['High School','High School Location'],inplace=True)

In [6]:
#Convert Birthday only to year and fill NaN
df['Birthday'] = df['Birthday'].apply(lambda x: str(x))
df['Birthday'] = df['Birthday'].apply(lambda x: x.split('/')[-1])
df['Birthday'] = df['Birthday'].apply(lambda x: x.replace('nan','2018'))
df['Birthday'] = df['Birthday'].apply(lambda x: int(x))

In [7]:
#Calculate Age
df['Age'] = 2018 - df['Birthday']

In [8]:
df

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),Name,Number,Player Id,Position,Weight (lbs),Years Played
0,97,"Grand Rapids , MI",1921,Notre Dame,Retired,NaN,3 Seasons,71.0,"Evans, Fred",NaN,fredevans/2513736,NaN,185.0,1946 - 1948
1,88,"Dayton , OH",1930,Dayton,Retired,NaN,1 Season,70.0,"Raiff, Jim",NaN,jimraiff/2523700,NaN,235.0,1954 - 1954
2,58,"Temple , TX",1960,Louisiana Tech,Retired,NaN,1 Season,74.0,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985
3,32,"New Orleans , LA",1986,LSU,Retired,NaN,5 Seasons,73.0,"Johnson, Quinn",NaN,quinnjohnson/79593,NaN,255.0,2009 - 2013
4,26,"Detroit , MI",1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,"Walton, L.T.",96.0,l.t.walton/2552444,DE,305.0,NaN
5,126,"Sumner , IL",1892,Illinois,Retired,NaN,1 Season,73.0,"Petty, Ross",NaN,rosspetty/2523136,NaN,180.0,1920 - 1920
6,98,"Casper , WY",1920,Wisconsin,Retired,NaN,3 Seasons,73.0,"Farris, Tom",NaN,tomfarris/2513861,NaN,185.0,1946 - 1948
7,23,"Navarre , FL",1995,Clemson,Active,New York Jets,Rookie,77.0,"Leggett, Jordan",NaN,jordanleggett/2557885,TE,250.0,NaN
8,0,NaN,2018,No College,Retired,NaN,1 Season,NaN,"Thompson, Pinky",NaN,pinkythompson/2527303,NaN,NaN,1927 - 1927
9,99,"Alverton , PA",1919,Duquesne,Retired,NaN,1 Season,70.0,"Gonda, George",NaN,georgegonda/2515030,NaN,175.0,1942 - 1942
10,73,"Orlando , FL",1945,Tennessee Tech,Retired,NaN,3 Seasons,76.0,"Tanner, John",NaN,johntanner/2527011,NaN,231.0,1971 - 1974
11,57,"Alton , IL",1961,Southern University,Retired,NaN,1 Season,69.0,"Raglin, Floyd",NaN,floydraglin/2523695,NaN,180.0,1987 - 1987
12,35,NaN,1983,Boise State,Retired,NaN,1 Season,74.0,"Zabransky, Jared",NaN,jaredzabransky/2495791,NaN,219.0,2007 - 2007
13,29,"Little Rock , AR",1989,Arkansas,Retired,NaN,3 Seasons,71.0,"Adams, Joe",NaN,joeadams/2532782,NaN,185.0,2012 - 2014
14,75,"St. Louis , MO",1943,Missouri,Retired,NaN,8 Seasons,73.0,"Otto, Gus",NaN,gusotto/2522592,NaN,220.0,1965 - 1972
15,76,"Barberton , OH",1942,Florida A&M,Retired,NaN,3 Seasons,73.0,"Thomas, Gene",NaN,genethomas/2527241,NaN,210.0,1966 - 1968
16,68,"Indianola , IA",1950,Arizona,Retired,NaN,2 Seasons,74.0,"Demory, Bill",NaN,billdemory/2512778,NaN,195.0,1973 - 1974
17,26,NaN,1992,Pittsburgh,Active,Washington Redskins,1st season,74.0,"Garner, Manasseh",NaN,manassehgarner/2553801,TE,220.0,NaN
18,55,"New Orleans , LA",1963,Louisiana-Lafayette,Retired,NaN,9 Seasons,68.0,"Verdin, Clarence",NaN,clarenceverdin/2503464,NaN,160.0,1986 - 1994
19,51,"Scranton , PA",1967,Syracuse,Retired,NaN,1 Season,74.0,"DeRiggi, Fred",NaN,fredderiggi/2512828,NaN,268.0,1990 - 1990
20,96,"Birmingham , AL",1922,Yale,Retired,NaN,2 Seasons,72.0,"Schuler, Bill",NaN,billschuler/2525128,NaN,215.0,1947 - 1948
21,28,"Reno , NV",1990,Nevada,Retired,NaN,1 Season,79.0,"Nady, Jeff",NaN,jeffnady/2541732,NaN,305.0,2013 - 2013
22,56,"Fort Ord , CA",1962,California,Retired,NaN,9 Seasons,75.0,"Rivera, Ron",NaN,ronrivera/2502679,NaN,235.0,1984 - 1992
23,41,"Waxahachie , TX",1977,Texas Tech,Retired,NaN,10 Seasons,75.0,"Reagor, Montae",NaN,montaereagor/2502600,NaN,285.0,1999 - 2008
24,58,"Ann Arbor , MI",1960,Missouri,Retired,NaN,1 Season,74.0,"Sealby, Randy",NaN,randysealby/2525255,NaN,230.0,1987 - 1987
25,100,"Chicopee Falls , MA",1918,American International,Retired,NaN,4 Seasons,73.0,"Sergienko, George",NaN,georgesergienko/2525335,NaN,248.0,1943 - 1946
26,122,"Cleveland , OH",1896,No College,Retired,NaN,1 Season,NaN,"Beckwith, Norm",NaN,normbeckwith/2509286,NaN,150.0,1920 - 1920
27,40,"San Luis Obispo Co. , CA",1978,Arizona,Retired,NaN,7 Seasons,76.0,"Tafoya, Joe",NaN,joetafoya/2504656,NaN,258.0,2001 - 2008
28,30,"Carbondale , IL",1988,Arkansas State,Retired,NaN,3 Seasons,72.0,"Hall, Bryan",NaN,bryanhall/2530581,NaN,280.0,2011 - 2013
29,35,NaN,1983,Georgia Tech,Retired,NaN,1 Season,78.0,"Wallace, Kyle",NaN,kylewallace/2506142,NaN,295.0,2005 - 2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17142,71,"Dallas , TX",1947,North Texas,Retired,NaN,7 Seasons,74.0,"Ramsey, Steve",NaN,steveramsey/2523725,NaN,210.0,1970 - 1976
17143,50,"Philadelphia , PA",1968,Penn State,Retired,NaN,1 Season,79.0,"Flythe, Mark",NaN,markflythe/2500662,NaN,290.0,1993 - 1993
17144,56,"Pittsburgh , PA",1962,Penn State,Retired,NaN,12 Seasons,75.0,"Radecic, Scott",NaN,scottradecic/2502575,NaN,243.0,1984 - 1995
17145,33,"Los Angeles County , CA",1985,Montana State,Retired,NaN,0 Season,77.0,"Saucedo, Lou",NaN,lousaucedo/2507771,NaN,330.0,2009 - 2009
17146,30,NaN,1988,Arkansas-Pine Bluff,Retired,NaN,1 Season,74.0,"Abdulai, Ibrahim",NaN,ibrahimabdulai/2530820,NaN,302.0,2011 - 2011
17147,76,"Evansville , IN",1942,Ivy Tech State-SW IN (J.C.),Retired,NaN,3 Seasons,77.0,"Amsler, Marty",NaN,martyamsler/2508444,NaN,255.0,1967 - 1970
17148,71,"Olney , TX",1947,Abilene Christian,Retired,NaN,1 Season,75.0,"Oliver, Bob",NaN,boboliver/2522460,NaN,240.0,1969 - 1969
17149,94,"Ravenswood , WV",1924,Duke,Retired,NaN,5 Seasons,72.0,"Hartley, Howard",NaN,howardhartley/2516038,NaN,185.0,1948 - 1952
17150,37,"Gulfport , MS",1981,Southern Mississippi,Retired,NaN,3 Seasons,74.0,"Davis, Rod",NaN,roddavis/2506015,NaN,239.0,2004 - 2006
17151,28,"Detroit , MI",1990,Western Michigan,Active,New York Jets,1st season,75.0,"Bishop, Freddie",56.0,freddiebishop/2542053,OLB,255.0,NaN
17152,66,"Martinsville , VA",1952,Maryland East. Shore,Retired,NaN,15 Seasons,75.0,"Hairston, Carl",NaN,carlhairston/2515595,NaN,260.0,1976 - 1990
17153,120,"New Vienna , IA",1898,Loras,Retired,NaN,1 Season,68.0,"Oberbroekling, Ray",NaN,rayoberbroekling/2522338,NaN,198.0,1924 - 1924
17154,71,"Lexington , KY",1947,Kentucky,Retired,NaN,4 Seasons,74.0,"Palmer, Dick",NaN,dickpalmer/2522688,NaN,232.0,1970 - 1974
17155,31,"Dayton , OH",1987,Notre Dame,Active,Miami Dolphins,8th season,80.0,"Young, Sam",NaN,samyoung/2508058,T,320.0,NaN
17156,27,NaN,1991,Appalachian State,Retired,NaN,1 Season,72.0,"Sanders, Troy",NaN,troysanders/2541519,NaN,214.0,2013 - 2013
17157,29,"Richmond , VA",1989,Maryland,Active,Philadelphia Eagles,7th season,72.0,"Smith, Torrey",NaN,torreysmith/2495459,WR,205.0,NaN
17158,82,"Hendersonville , NC",1936,Tennessee,Retired,NaN,8 Seasons,75.0,"Anderson, Bill",NaN,billanderson/2508534,NaN,211.0,1958 - 1966
17159,47,NaN,1971,Mississippi,Retired,NaN,1 Season,76.0,"Thomas, Marquise",NaN,marquisethomas/2503314,NaN,255.0,1993 - 1993
17160,30,"Hastings , NE",1988,Nebraska-Kearney,Retired,NaN,4 Seasons,78.0,"Goodin, Stephen",NaN,stephengoodin/2535931,NaN,310.0,2012 - 2015
17161,86,"Shreveport , LA",1932,Tulane,Retired,NaN,4 Seasons,74.0,"Sardisco, Tony",NaN,tonysardisco/2524922,NaN,226.0,1956 - 1962
17162,35,NaN,1983,Indiana,Retired,NaN,0 Season,72.0,"Gilmore, Jahkeen",NaN,jahkeengilmore/2514905,NaN,211.0,2007 - 2007
17163,127,"Chicago , IL",1891,Unknown,Retired,NaN,2 Seasons,NaN,"Seliger, Frank",NaN,frankseliger/2525310,NaN,200.0,1920 - 1921
17164,73,"Oakland , CA",1945,New Mexico State,Retired,NaN,2 Seasons,75.0,"Andrews, Al",NaN,alandrews/2508546,NaN,216.0,1970 - 1971
17165,125,"Pryor , OK",1893,Haskell Indian,Retired,NaN,1 Season,73.0,"Choate, Bob",NaN,bobchoate/2511447,NaN,225.0,1924 - 1924
17166,82,"Rochester , MN",1936,Minnesota,Retired,NaN,8 Seasons,76.0,"Schmidt, Bob",NaN,bobschmidt/2525064,NaN,248.0,1959 - 1967
17167,74,"Detroit , MI",1944,Michigan State,Retired,NaN,1 Season,71.0,"Goovert, Ron",NaN,rongoovert/2515082,NaN,225.0,1967 - 1967
17168,34,"Worland , WY",1984,Weber State,Retired,NaN,1 Season,75.0,"Folsom, J.D.",NaN,j.d.folsom/238485,NaN,230.0,2009 - 2010
17169,44,"Washington , DC",1974,Akron,Retired,NaN,1 Season,72.0,"Reader, Jamie",NaN,jamiereader/2502599,NaN,238.0,2001 - 2001
17170,97,"New Willard , TX",1921,Baylor,Retired,NaN,2 Seasons,73.0,"Barnett, Solon",NaN,solonbarnett/2509044,NaN,235.0,1945 - 1946
17171,56,"Bryan , TX",1962,Baylor,Retired,NaN,1 Season,73.0,"Johnson, Byron",NaN,byronjohnson/2517578,NaN,220.0,1987 - 1987